<% if (user) { %>
  <h1 id="header"> Hello <%= user.username %></h1>

  <form action="/signout" method="post">
      <input id="signout" type="submit" value="signout">
  </form>

  <form action="/new-post" method="post">
    <input id="new-post-text" type="text" placeholder="What's happening?" name="post">
    <input id="new-post-submit" type="submit" value="Post">
</form>
<% } %>

<% if (!user) { %>
    <h2 id="header">Welcome to Chitter</h2>

    <form action="/signin" method="post">
      <input id="signin-username" type="text" name="username">
      <input id="signin-password" type="password" name="password">
      <input id="signin-submit" type="submit" value="signin">
    </form>

    <form action="/register" method="get">
      <input id="register" type="submit" value="Register">
  </form>
<% } %>
<div id="chitter">
  <% chitters.map((chitter,index) => { %>
    <p>---</p>
    <p id="chitter-<%=index%>">
      <%=chitter.username%> @ <%=chitter.createdAt%>: <br>
      <%= chitter.message %>
    </p>
  <% }) %>
  <p>---</p>
</div>